@import url("../css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: linkedinfont;
  src: url(../font/SourceSansPro-Black.ttf);
  font-weight: bold;
}
.forgot_password {
  text-decoration: none;
}
.forgot_password:hover {
  background-color: #d0e8ff;
  text-decoration-line: underline;
  width: fit-content;
}
.container_login {
  max-width: 1000px;
}
